header.main-header.bg-d-blue
    .wrapper
        .d-flex.flex-row
            img.logo(src=require('images/acronis-blue.png') width='100' height='100')
            .flex.flex-column
                nav.nav-pages
                    ul.d-flex.flex-row.align-items-center
                        li
                            a(href='') КОНСУЛЬТАНТЫ
                        li
                            a(href='') ГЕОГРАФИЯ
                        li
                            a(href='') О КОМПАНИИ
                        li
                            a(href='') КОНТАКТЫ
                        li
                            form.search
                                button.search-btn
                                    img(src=require('images/search.svg'))
                                input(type='text')

                nav.nav-sails
                    ul.d-flex.flex-row.mb-0
                        li
                            a(href='') продажа
                            .nav-open
                                ul
                                    li
                                        a(href='') Городская
                        li
                            a(href='') аренда
                            .nav-open
                                ul
                                    li
                                        a(href='') Городская
                        li
                            a(href='') жилые комплексы
                        li
                            a(href='') новостройки
                        li
                            a(href='') посёлки
                        li
                            a(href='') бизнес центры
                            
            .ml-auto
                a(href='') +7 495 999-99-99
                div
                    a.btn.btn-outline-primary(href='') my webster

section.bg-grey
    .qwe          
